@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #03373D;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.review-slide {
  transition: all 0.6s ease;
  transform: scale(0.8) rotateY(15deg);
  opacity: 0.4;
  filter: blur(2px);
}

.swiper-slide-active .review-slide {
  transform: scale(1) rotateY(0deg);
  opacity: 1;
  filter: blur(0);
}

.swiper-slide-active {
  position: relative;
}

.swiper-slide-active::before {
  content: "";
  position: absolute;
  inset: -20px;
  border-radius: 30px;
  background: linear-gradient(135deg, #f9f9f9, #7db5e6);
  filter: blur(40px);
  opacity: 0.4;
  z-index: -1;
}